* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69,87,96);
}

.pt-3 {
    padding-top: 3em;
}

h1, h3 {
    margin: 2rem;
    color: rgb(220,220,220);
    text-shadow: 1px 1px 1px black;
}

.wrapper {
    margin: 3.5em;
    justify-content: center;
}

.wrap {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(52,58,64);
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link {
    transition-duration: 0.2s;
}

.nav-link:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.content-text {
    width: 60vw;
    color: rgb(220,220,220);
    text-indent: 30px;
    text-align: justify;
}

.new-box {
    background-color: rgb(220,220,220);
    color: rgb(52,58,64);
    transition-duration: 0.2s;
}

.new-box:hover {
    background-color: rgb(52,58,64);
    color: rgb(220,220,220);
    transition-duration: 0.2s;
}

#edit-form, #new-form {
    margin: 0 4rem;
    resize: none;
    color: rgb(220,220,220);
}

hr {
    background-color: rgb(52,58,64);
    margin: 2rem;
}
